.App{
    width: 40%;
    height: 40%;
    background-color: whitesmoke;
    margin-left: 20%;
    margin-top: 5%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}