.nextS {
    width: 100px;
    margin-left: 10px;
    margin-top: 85px;
}

.PrecedantF {
    width: 100px;
    margin-left: 35%; 
    margin-top: 85px;
}
.titleHobbies{
    margin-left: 45%;
   
} 
.formgroupeClass{
    margin-left: 20%;
    margin-top: 20px;
}
